.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.mainSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.chartSection {
  display: grid;
  grid-template-rows: 50vh 50vh;
  height: 100%;
}

.tip {
  padding: 8px 24px;
  overflow-y: scroll;
  font-size: 14px;
}
