.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.mainSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.chartSection {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: seagreen;
  padding: 12px;
  row-gap: 8px;
}
